@charset "utf-8";
/* CSS reset */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
input,
table,
textarea {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
em,
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:link {
  color: #000;
}
a:hover,
a:active,
input,
:focus {
  outline: none;
  color: #000;
}
p:before,
p:after {
  content: '';
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: transparent;
}
body {
  overflow-x: hidden;
  width: 100%;
  min-width: 1280px;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1rem;
  background-color: #fff;
}
.bdbox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.margin_auto {
  margin: 0 auto;
}
.font_w {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.blue {
  color: #005787;
  font-weight: bold;
}
.head {
  width: 100%;
  height: 30px;
  background-color: #f0f8fa;
}
.head .head_top {
  width: 85%;
  color: #226994;
  font-size: 14px;
  margin: 0 auto;
}
.head .head_top .head_top_left {
  float: left;
  text-align: left;
  width: 30%;
  line-height: 30px;
}
.head .head_top .head_top_left #cut {
  display: inline-block;
  overflow: hidden;
  width: 55px;
  height: 16px;
  padding-right: 18px;
  background-color: #ffffff;
  font-size: 12px;
  color: #000000;
  text-align: center;
  position: relative;
  top: 5px;
  margin-left: 5px;
  font-weight: bold;
  line-height: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}
.head .head_top .head_top_left #cut em {
  display: inline-block;
  height: 16px;
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/icon_tb.png) no-repeat;
  background-size: 100% 100%;
  background-color: #007fff;
}
.head .head_top .head_top_right {
  float: right;
  text-align: right;
  width: 42%;
  height: 30px;
  line-height: 30px;
}
.head .head_top .head_top_right .top_btn {
  display: inline-block;
  width: 175px;
  height: 18px;
  border-left: 1px solid #E1E3E4;
  border-right: 1px solid #E1E3E4;
  position: relative;
  top: 6px;
  left: 15px;
}
.head .head_top .head_top_right .top_btn span {
  width: 40px;
  padding-left: 20px;
  position: relative;
  right: 15px;
  bottom: 6px;
}
.head .head_top .head_top_right .top_btn span em {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  position: relative;
  left: 0px;
  top: 3px;
}
.head .head_top .head_top_right .top_btn #shop em {
  background: url(../images/icont_shopcar.png) no-repeat;
  background-size: 100% 100%;
}
.head .head_top .head_top_right .top_btn #collect em {
  background: url(../images/icon_star.png) no-repeat;
  background-size: 100% 100%;
}
.head .head_top .head_top_right #quit {
  margin-left: 20px;
}
.logo {
  width: 100%;
  height: 120px;
}
.logo .head_logo {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.logo .head_logo .head_logo_left {
  width: 250px;
  height: 25px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13px;
}
.logo .head_logo .head_logo_left p {
  height: 25px;
  padding-left: 75px;
  line-height: 25px;
  position: relative;
}
.logo .head_logo .head_logo_left span {
  display: inline-block;
  width: 66px;
  height: 25px;
  background: url(../images/logo.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  width: 100%;
  height: 50px;
  background-color: #005787;
}
.nav .nav_list {
  width: 85%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #ffffff;
  margin: 0 auto;
}
.nav .nav_list li {
  float: left;
  height: 30px;
  width: 90px;
  margin-top: 10px;
  margin-right: 8%;
  text-align: center;
  line-height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.nav .nav_list li:hover {
  background-color: #0b2f5c;
  border-color: #226994;
  cursor: pointer;
}
.crumbs {
  width: 100%;
  height: 40px;
  background-color: #f7f7f7;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #DEDEDE;
  color: #5a5a5a;
}
.crumbs .crumbs_list {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.crumbs .crumbs_list em {
  margin: 0 10px;
}
.foot {
  width: 100%;
  height: 90px;
  background-color: #4e4e4e;
  color: #A4BAC2;
  overflow: hidden;
}
.foot .foot_main {
  width: 700px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 14px;
}
.fixed_btn {
  width: 50px;
  height: 150px;
  border: 1px solid #EAEAEA;
  position: fixed;
  right: 1%;
  bottom: 10%;
  z-index: 10;
  background-color: #F5F5F5;
}
.fixed_btn div {
  height: 35px;
  width: 100%;
  padding-top: 40px;
  font-size: 12px;
}
.fixed_btn div span {
  display: block;
  text-align: center;
}
.fixed_btn .cut {
  border-bottom: 1px solid #EAEAEA;
}
.fixed_btn .toTop,
.fixed_btn .cut {
  position: relative;
  cursor: pointer;
}
.fixed_btn .toTop > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.fixed_btn .cut:hover {
  opacity: 0.5;
}
.fixed_btn .toTop:hover {
  opacity: 0.5;
}
.fixed_btn .cut_pic {
  width: 22px;
  height: 18px;
  background: url(../images/index1_cut.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 30%;
  top: 10px;
}
.fixed_btn .toTop_pic {
  width: 16px;
  height: 20px;
  background: url(../images/index1_toTop.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 33%;
  top: 10px;
}
/* 购物车导航 ↓*/
.cor_sub {
  color: #FF4500;
}
.bill_check {
  border-top: 4px solid #0085d0;
}
.bill_check em {
  background-color: #0085d0;
}
.bill_checked {
  border-top: 4px solid #7ECDF4;
}
.bill_checked em {
  background-color: #7ecdf4;
}
.bill_nocheck {
  border-top: 4px solid #DEDEDE;
}
.bill_nocheck em {
  background-color: #dedede;
}
.shop_nav {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}
.shop_nav .main_title {
  height: 50px;
}
.shop_nav .myShop {
  width: 100px;
  float: left;
  font-size: 16px;
  color: #005787;
  font-weight: bold;
  position: relative;
}
.shop_nav .myShop em {
  display: inline-block;
  border-width: 6px;
  border-style: solid;
  border-color: #005787 transparent transparent transparent;
  position: absolute;
  right: 4px;
  top: 20%;
}
.shop_nav .bill {
  width: 560px;
  height: 100%;
  float: right;
}
.shop_nav .bill .bill_list {
  float: left;
  width: 33%;
  border-radius: 5px;
  position: relative;
}
.shop_nav .bill .bill_list em {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: -14px;
  left: 45%;
}
.shop_nav .bill .bill_list span {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #0085d0;
  position: absolute;
  top: 15px;
  left: 2%;
}
/* 购物车导航 ↑*/
.check {
  border: 1px solid #0085d0;
  border-radius: 0;
}
.check em {
  background: url(../images/fillOrder_check.png) no-repeat;
  background-size: 100% 100%;
}
.nocheck {
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.nocheck em {
  background: url(../images/fillOrder_nocheck.png) no-repeat;
  background-size: 100% 100%;
}
.kuang {
  float: left;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  margin-right: 25px;
}
.kuang em {
  width: 17px;
  height: 17px;
  display: inline-block;
  position: relative;
  left: -5px;
  top: 3px;
}
.addr_check {
  position: relative;
  border: 1px solid #0085d0;
  border-radius: 0;
}
.addr_check em {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(../images/sb.png) no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}
.addr_nocheck {
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.om {
  overflow: hidden;
  margin-bottom: 40px;
}
.main {
  width: 83%;
  margin: 0 auto;
  background-color: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  padding-top: 1%;
  padding-left: 2%;
  font-size: 14px;
}
.main p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  clear: both;
}
.main .borr {
  width: 97.5%;
}
.main .dizhi div {
  float: left;
  width: 270px;
  height: 130px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  cursor: pointer;
}
.main .dizhi span {
  display: block;
  margin-bottom: 10px;
}
.main .dizhi .handle {
  display: block;
  height: 27px;
  color: #FF6522;
  overflow: hidden;
}
.main .dizhi .handle span {
  float: right;
  margin: 5px;
}
.main .dizhi .add_addres {
  display: block;
  width: 100px;
  height: 30px;
  border: 1px solid #CFCFCF;
  clear: both;
  line-height: 30px;
  text-align: center;
  margin-top: 170px;
  cursor: pointer;
}
.main .zhifu input {
  display: inline-block;
  width: 230px;
  height: 30px;
  padding-left: 10px;
}
.main .beizhu textarea {
  width: 780px;
  height: 80px;
  padding: 10px;
}
.main .bor {
  clear: both;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  width: 97.5%;
  background-color: #fff;
}
.main .dingdan_list {
  width: 98%;
  overflow: hidden;
}
.main .dingdan_list li {
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.main .dingdan_list .num {
  width: 3%;
}
.main .dingdan_list .numTxt {
  width: 10%;
}
.main .dingdan_list .name {
  width: 12%;
}
.main .dingdan_list .standard {
  width: 11%;
}
.main .dingdan_list .color {
  width: 5%;
}
.main .dingdan_list .unit {
  width: 5%;
}
.main .dingdan_list .bPrice {
  width: 12%;
}
.main .dingdan_list .sPrice {
  width: 12%;
}
.main .dingdan_list .count {
  width: 7%;
}
.main .dingdan_list .date {
  width: 10%;
}
.main .dingdan_list .subtotal {
  width: 13%;
}
.main .dingdan_bottom {
  width: 97.5%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.main .dingdan_bottom .total {
  float: left;
  font-weight: bold;
}
.main .dingdan_bottom .total_num {
  float: right;
  color: #FF4500;
}
.shopCar {
  overflow: hidden;
  width: 83%;
  margin: 0 auto;
  margin: 30px auto 60px auto;
  margin-bottom: 60px;
}
.shopCar div {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.shopCar .backshopCar {
  float: left;
  width: 130px;
  border: 1px solid #DEDEDE;
}
.shopCar .toBuy {
  float: right;
  width: 140px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #6cb1de;
  position: relative;
}
.shopCar .toBuy em {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/icon_right.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 23px;
  top: 10px;
}
