@charset "utf-8";
/* CSS reset */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
input,
table,
textarea {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
em,
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:link {
  color: #000;
}
a:hover,
a:active,
input,
:focus {
  outline: none;
  color: #000;
}
p:before,
p:after {
  content: '';
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: transparent;
}
body {
  overflow-x: hidden;
  width: 100%;
  min-width: 1280px;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1rem;
  background-color: #fff;
}
.bdbox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.margin_auto {
  margin: 0 auto;
}
.font_w {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.blue {
  color: #005787;
  font-weight: bold;
}
.head {
  width: 100%;
  height: 30px;
  background-color: #f0f8fa;
}
.head .head_top {
  width: 85%;
  color: #226994;
  font-size: 14px;
  margin: 0 auto;
}
.head .head_top .head_top_left {
  float: left;
  text-align: left;
  width: 30%;
  line-height: 30px;
}
.head .head_top .head_top_left #cut {
  display: inline-block;
  overflow: hidden;
  width: 55px;
  height: 16px;
  padding-right: 18px;
  background-color: #ffffff;
  font-size: 12px;
  color: #000000;
  text-align: center;
  position: relative;
  top: 5px;
  margin-left: 5px;
  font-weight: bold;
  line-height: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}
.head .head_top .head_top_left #cut em {
  display: inline-block;
  height: 16px;
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/icon_tb.png) no-repeat;
  background-size: 100% 100%;
  background-color: #007fff;
}
.head .head_top .head_top_right {
  float: right;
  text-align: right;
  width: 42%;
  height: 30px;
  line-height: 30px;
}
.head .head_top .head_top_right .top_btn {
  display: inline-block;
  width: 175px;
  height: 18px;
  border-left: 1px solid #E1E3E4;
  border-right: 1px solid #E1E3E4;
  position: relative;
  top: 6px;
  left: 15px;
}
.head .head_top .head_top_right .top_btn span {
  width: 40px;
  padding-left: 20px;
  position: relative;
  right: 15px;
  bottom: 6px;
}
.head .head_top .head_top_right .top_btn span em {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  position: relative;
  left: 0px;
  top: 3px;
}
.head .head_top .head_top_right .top_btn #shop em {
  background: url(../images/icont_shopcar.png) no-repeat;
  background-size: 100% 100%;
}
.head .head_top .head_top_right .top_btn #collect em {
  background: url(../images/icon_star.png) no-repeat;
  background-size: 100% 100%;
}
.head .head_top .head_top_right #quit {
  margin-left: 20px;
}
.logo {
  width: 100%;
  height: 120px;
}
.logo .head_logo {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.logo .head_logo .head_logo_left {
  width: 250px;
  height: 25px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13px;
}
.logo .head_logo .head_logo_left p {
  height: 25px;
  padding-left: 75px;
  line-height: 25px;
  position: relative;
}
.logo .head_logo .head_logo_left span {
  display: inline-block;
  width: 66px;
  height: 25px;
  background: url(../images/logo.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  width: 100%;
  height: 50px;
  background-color: #005787;
}
.nav .nav_list {
  width: 85%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #ffffff;
  margin: 0 auto;
}
.nav .nav_list li {
  float: left;
  height: 30px;
  width: 90px;
  margin-top: 10px;
  margin-right: 8%;
  text-align: center;
  line-height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.nav .nav_list li:hover {
  background-color: #0b2f5c;
  border-color: #226994;
  cursor: pointer;
}
.crumbs {
  width: 100%;
  height: 40px;
  background-color: #f7f7f7;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #DEDEDE;
  color: #5a5a5a;
}
.crumbs .crumbs_list {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.crumbs .crumbs_list em {
  margin: 0 10px;
}
.foot {
  width: 100%;
  height: 90px;
  background-color: #4e4e4e;
  color: #A4BAC2;
  overflow: hidden;
}
.foot .foot_main {
  width: 700px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 14px;
}
.fixed_btn {
  width: 50px;
  height: 150px;
  border: 1px solid #EAEAEA;
  position: fixed;
  right: 1%;
  bottom: 10%;
  z-index: 10;
  background-color: #F5F5F5;
}
.fixed_btn div {
  height: 35px;
  width: 100%;
  padding-top: 40px;
  font-size: 12px;
}
.fixed_btn div span {
  display: block;
  text-align: center;
}
.fixed_btn .cut {
  border-bottom: 1px solid #EAEAEA;
}
.fixed_btn .toTop,
.fixed_btn .cut {
  position: relative;
  cursor: pointer;
}
.fixed_btn .toTop > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.fixed_btn .cut:hover {
  opacity: 0.5;
}
.fixed_btn .toTop:hover {
  opacity: 0.5;
}
.fixed_btn .cut_pic {
  width: 22px;
  height: 18px;
  background: url(../images/index1_cut.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 30%;
  top: 10px;
}
.fixed_btn .toTop_pic {
  width: 16px;
  height: 20px;
  background: url(../images/index1_toTop.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 33%;
  top: 10px;
}
.main {
  width: 85%;
  min-height: 670px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.main .main_left {
  float: left;
  width: 160px;
  min-height: 660px;
  background-color: #F4F9FC;
  border-right: 1px solid #E4E4E4;
}
.main .main_left .main_left_list {
  margin-top: 90px;
}
.main .main_left .main_left_list li {
  margin-top: 20px;
  height: 80px;
  border-left: 5px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
}
.main .main_left .main_left_list li em {
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 0;
  margin: 10px 0 10px -15px;
}
.main .main_left .main_left_list li p {
  font-size: 14px;
  color: #0E315D;
  text-align: center;
  font-weight: bold;
}
.main .main_left .main_left_list li:hover {
  background-color: #fff;
  border-left: 5px solid #0B2F5C;
}
.main .main_left .main_left_list li:hover p {
  color: #0085D0;
}
.main .main_left .main_left_list .zh em {
  background: url(../images/statement01.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .zh:hover em {
  background: url(../images/statement10.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .xg em {
  background: url(../images/statement02.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .xg:hover em {
  background: url(../images/statement20.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .dz em {
  background: url(../images/statement03.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .dz:hover em {
  background: url(../images/statement30.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .zz em {
  background: url(../images/statement04.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .zz:hover em {
  background: url(../images/statement40.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .dk em {
  background: url(../images/statement05.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_left .main_left_list .dk:hover em {
  background: url(../images/statement50.png) no-repeat;
  background-size: 100% 100%;
}
.main .main_right {
  float: left;
  width: 80%;
  height: 100%;
}
.main .main_right .main_right_title {
  height: 35px;
  width: 100%;
  line-height: 35px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #E4E4E4;
  color: #226994;
  font-weight: bold;
  padding-left: 35px;
}
.main .main_right .main_right_title em {
  position: relative;
  left: 7px;
  top: 3px;
  border-style: solid;
  border-width: 6px;
  border-color: #005787 transparent transparent transparent;
}
.pageNum {
  width: 430px;
  height: 24px;
  margin: 0 auto;
  font-size: 12px;
  margin-bottom: 60px;
}
.pageNum span {
  display: inline-block;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  color: #51a8e4;
  border-bottom: 1px solid #E8E8E8;
  border-radius: 3px;
  cursor: pointer;
}
.pageNum span em {
  display: inline-block;
  border-style: solid;
  border-width: 5px;
}
.pageNum #page_prev {
  float: left;
  margin-right: 10px;
}
.pageNum #page_prev:hover {
  background-color: #51a8e4;
  color: #fff;
}
.pageNum #page_prev:hover em {
  border-color: transparent #fff transparent transparent;
}
.pageNum #page_prev em {
  border-color: transparent #51a8e4 transparent transparent;
  margin-right: 5px;
}
.pageNum #page_next {
  float: right;
}
.pageNum #page_next:hover {
  background-color: #51a8e4;
  color: #fff;
}
.pageNum #page_next:hover em {
  border-color: transparent transparent transparent #fff;
}
.pageNum #page_next em {
  border-color: transparent transparent transparent #51a8e4;
  margin-left: 5px;
}
.pageNum #page_num {
  overflow: hidden;
  float: left;
}
.pageNum #page_num li {
  float: left;
  width: 20px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  color: #51a8e4;
  border-bottom: 1px solid #E8E8E8;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}
.pageNum #page_num li:hover {
  background-color: #51a8e4;
  color: #fff;
}
input::-webkit-input-placeholder {
  color: #6B6B6B !important;
}
.main_left {
  height: 1585px;
}
em {
  display: inline-block;
}
.font_col01 {
  color: #FF6828 !important;
}
.font_col02 {
  color: #035988 !important;
}
.font_col03 {
  color: #FF5400 !important;
}
.main .main_right_content {
  width: 100%;
  margin: 45px 0 0 40px;
  font-size: 12px;
}
.main .main_right_content span {
  display: inline-block;
}
.main .screen {
  min-height: 45px;
  overflow: hidden;
  padding: 20px 0 10px 20px;
  background-color: #f7f7f7;
  border: 1px solid #ebebeb;
  border-radius: 0;
  font-size: 12px;
  position: relative;
}
.main .screen div {
  float: left;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-right: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.main .screen span {
  height: 25px;
  line-height: 25px;
}
.main .screen input {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  border: none;
}
.main .screen .s_name {
  padding-left: 10px;
}
.main .screen .s_value {
  padding-left: 10px;
  background-color: #ffffff;
  color: #6B6B6B;
}
.main .screen .zffs,
.main .screen .zxfs,
.main .screen .zt {
  position: relative;
}
.main .screen .zffs .s_value,
.main .screen .zxfs .s_value,
.main .screen .zt .s_value {
  cursor: pointer;
}
.main .screen .zffs em,
.main .screen .zxfs em,
.main .screen .zt em {
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: url(../images/myOrder_icon01.png) no-repeat;
  background-size: 100% 100%;
}
.main .screen .fkje {
  width: 260px;
}
.main .screen .fkje .s_name {
  width: 70px;
}
.main .screen .fkje .s_value {
  width: 165px;
}
.main .screen .qzsj {
  width: 230px;
}
.main .screen .qzsj .s_name {
  width: 60px;
}
.main .screen .qzsj .s_value {
  width: 145px;
  text-align: center;
  cursor: pointer;
}
.main .screen .zffs {
  width: 170px;
}
.main .screen .zffs .s_name {
  width: 60px;
}
.main .screen .zffs .s_value {
  width: 85px;
}
.main .screen .zxfs {
  width: 125px;
}
.main .screen .zxfs .s_name {
  width: 65px;
}
.main .screen .zxfs .s_value {
  width: 35px;
}
.main .screen .zt {
  width: 125px;
}
.main .screen .zt .s_name {
  width: 35px;
}
.main .screen .zt .s_value {
  width: 65px;
}
.main .screen .fgs {
  width: 215px;
}
.main .screen .fgs .s_name {
  width: 70px;
}
.main .screen .fgs .s_value {
  width: 120px;
}
.main .screen .kfmc {
  width: 200px;
}
.main .screen .kfmc .s_name {
  width: 65px;
}
.main .screen .kfmc .s_value {
  width: 110px;
}
.main .screen .cut_line {
  border-left: 1px dashed #DFDFDF;
}
.main .screen .btn_clear,
.main .screen .btn_search {
  width: 65px;
  text-align: center;
}
.main .screen .btn_clear {
  color: #A2A2A2;
}
.main .screen .btn_search {
  background-color: #0085d0;
  color: #fff;
}
.main .tool {
  overflow: hidden;
  border-bottom: 1px solid #BEBFBF;
  padding-bottom: 15px;
}
.main .tool .newUser {
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 24px;
  color: #005787;
}
.main .tool .newUser em {
  margin-right: 7px;
  border-style: solid;
  border-color: #005787 transparent transparent transparent;
  border-width: 6px;
  position: relative;
  top: 4px;
  left: 5px;
}
.main .tool .page {
  float: right;
  font-weight: bold;
  margin-top: 20px;
}
.main .tool .page span {
  display: inline-block;
}
.main .tool .page #btn_left,
.main .tool .page #btn_right {
  width: 20px;
  height: 20px;
  border: 1px solid #e0dfdf;
  border-radius: 0;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  color: #373737;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.main .tool .page #btn_left {
  background-color: #F3F0F0;
}
.main .tool .page #btn_right {
  color: #0787D0;
}
.main .tool .page #page_left {
  color: #0787D0;
}
.main .yue {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  line-height: 35px;
  background-color: #f4f9fc;
  font-weight: bold;
}
.main .yue .addOrder {
  float: right;
  margin-right: 20px;
  color: #0085d0;
}
.main .yue .addOrder em {
  width: 17px;
  height: 17px;
  background: url(../images/icon_plus.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: -5px;
  top: 5px;
}
.main .order_list {
  width: 100%;
}
.main .order_list ul {
  margin-left: 2%;
}
.main .order_list .order_li {
  width: 100%;
  min-height: 100px;
  padding-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  border-left: 3px solid #0085D0;
  box-sizing: border-box;
  overflow: hidden;
}
.main .order_list .order_li .list_top {
  width: 100%;
  height: 75px;
  font-size: 14px;
}
.main .order_list .order_li .list_top li {
  float: left;
}
.main .order_list .order_li .list_top .top_title {
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
}
.main .order_list .order_li .list_top .top_text {
  color: #363636;
}
.main .order_list .order_li .list_top .top_text .state {
  color: #779A3C;
  font-weight: bold;
}
.main .order_list .order_li .list_top .top_text .list09 {
  font-size: 12px;
}
.main .order_list .order_li .list_top .top_text .list09 em {
  width: 15px;
  height: 15px;
  position: relative;
  left: -5px;
  top: 3px;
}
.main .order_list .order_li .list_top .top_text .list09 .list06_l {
  color: #0085D0;
}
.main .order_list .order_li .list_top .top_text .list09 .list06_l em {
  background: url(../images/icon_xq.png) no-repeat;
  background-size: 100% 100%;
}
.main .order_list .order_li .list_top .top_text .txt05 {
  color: #166290;
}
.main .order_list .order_li .list_top .top_text .txt06 {
  color: #FF5D09;
}
.main .order_list .order_li .list_top .top_text .txt07 {
  color: #799C3F;
}
.main .order_list .order_li .show em {
  background: url(../images/myDelivery_show.png) no-repeat;
  background-size: 100% 100%;
}
.main .order_list .order_li .hide em {
  background: url(../images/myDelivery_hide.png) no-repeat;
  background-size: 100% 100%;
}
.main .order_list .order_li .list_btn {
  width: 100%;
  height: 25px;
  background-color: #f7f7f7;
  position: relative;
  cursor: pointer;
}
.main .order_list .order_li .list_btn em {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  position: absolute;
  left: 50%;
  top: 0;
}
.main .order_list .order_li .list_btn_show {
  background-color: #f7f7f7;
}
.main .order_list .order_li .list_btn_show .list_bottom {
  width: 100%;
  min-height: 50px;
  padding-bottom: 10px;
  overflow: hidden;
}
.main .order_list .order_li .list_btn_show .list_bottom li {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  float: left;
}
.main .order_list .order_li .list_btn_show .list_bottom li .b_name {
  font-weight: bold;
  margin-right: 10px;
}
.main .order_list .order_li .list_btn_show .list_bottom li .b_text {
  color: #838383;
}
.main .order_list .order_li .list_btn_show .list_bottom .txt01 {
  width: 21%;
}
.main .order_list .order_li .list_btn_show .list_bottom .txt02 {
  width: 17%;
}
.main .order_list .order_li .list_btn_show .list_bottom .txt03 {
  width: 24%;
}
.main .order_list .order_li .list_btn_show .list_bottom .txt04 {
  width: 20%;
}
.main .order_list .order_li .list_btn_show .list_bottom .txt05 {
  width: 16%;
}
.main .order_list .order_li .list_btn_show .list_bottom .shenhe {
  color: #0085D0 !important;
}
.main .order_list .order_li .list_btn_show .list_bottom .shenhe em {
  width: 13px;
  height: 13px;
  position: relative;
  left: 5px;
  top: 3px;
  background: url(../images/icon_delete.png) no-repeat;
  background-size: 100% 100%;
}
.main .order_list .order_li .list01 {
  width: 10%;
}
.main .order_list .order_li .list02 {
  width: 8%;
}
.main .order_list .order_li .list03 {
  width: 20%;
}
.main .order_list .order_li .list04 {
  width: 17%;
}
.main .order_list .order_li .list05 {
  width: 11%;
}
.main .order_list .order_li .list06 {
  width: 11%;
}
.main .order_list .order_li .list07 {
  width: 8%;
}
.main .order_list .order_li .list08 {
  width: 6%;
}
.main .order_list .order_li .list09 {
  width: 9%;
  text-align: center;
}
.main .page_line {
  width: 100%;
  height: 1px;
  margin-top: 35px;
  margin-bottom: 25px;
  background-color: #000000;
}
